---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>my mailbox on <a href="mailto:1317289628@qq.com">联系我</a></p>
</footer>