<a href="/">home</a>
<a href="/about/">about</a>
<a href="/blog/">blog</a>
<a href="/笔记/">笔记</a>

<style>
    a {
        color: chartreuse;
        text-decoration: none;
        margin-right: 3em;
    }
    a:hover{
        text-decoration: underline;
        background-color: rgb(44, 50, 235);
    }
</style>
